<section class="todoapp">
  <header class="header">
    <h1>tareas</h1>
    <input [(ngModel)]="nuevaTarea" id="new-todo" class="new-todo" type="text" autofocus placeholder="Nueva tarea"
      (keyup.enter)="crearTarea()">
  </header>
  <section id="main" class="main">
    <ul id="todo-list" class="todo-list">
      <li *ngFor="let tarea of listaTareas; index as indice">
        <div class="todo-item">
          <input type="checkbox" class="todo-checkbox" (click)="marcarTareaComoCompletada(tarea, indice)"/>
          <label [ngClass]="{ 'tarea-completada': tarea.completada }">{{ tarea.detalle }}</label>
          <label>
            <button class="btn btn-red" (click)="eliminarTarea(tarea)">
              Eliminar
            </button>
          </label>
        </div>
      </li>
    </ul>
  </section>
</section>
