<section class="todoapp">
  <header class="header">
    <h1>tareas</h1>
    <input [(ngModel)]="nuevaTarea" id="new-todo" class="new-todo" type="text" autofocus placeholder="Nueva tarea"
      (keyup.enter)="crearTarea()">
  </header>
  <section id="main" class="main">
    <ul id="todo-list" class="todo-list">
      <li *ngFor="let tarea of listaTareas; index as i">
        <label>{{ tarea }}</label>
        <label>
         <a class="btn  btn-red" (click)="eliminarTarea(i)">
           Eliminar
         </a>
         <button class="btn btn-red" (click)="editar(tarea, i)">
           Editar
         </button>
        </label>
      </li>
    </ul>
  </section>
</section>
